Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Werkzeug
openai
torch==2.0.1+cu118
torchvision==0.15.2+cu118
torchaudio==2.0.2+cu118
numpy
sentence-transformers
tiktoken
python-dotenv
PyPDF2
python-docx
beautifulsoup4
requests
tqdm
youtube-transcript-api 
gunicorn 
flask-migrate
